.bgi-top {
  background-image: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  margin-bottom: -200px;
  height: 1500px;
}

.bgi-mid {
  //margin-top: -200px;
  margin-right: auto;
  margin-left: auto;
  height: 1509px;
  background-image: linear-gradient(
    180deg,
    rgba(15, 17, 68, 0) 0%,
    #0f1144 9.57%
  );
}

.bgi-image {
  position: absolute;
  top: -30px;
  left: 540px;
  width: 724px;
  height: 580px;
  background-image: url(../../images/bgi/man.svg);

  background-position: top 0 center;

  background-repeat: no-repeat;
}
