.features {
  &__bgi {
    width: 1440px;
    padding-top: 203px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../images/bgi/meteorite-1.svg);

    background-position: left 0 bottom 50px;
    background-repeat: no-repeat;
  }

  &__text-main {
    margin-bottom: 50px;

    font-family: $ff-main;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    color: $color-text-main;
  }
  &__list {
    @include flexCenter();
    flex-wrap: wrap;
    margin: -25px;
  }
  &__item {
    width: 299px;
    margin: 25px;
  }
  &__thumb {
    display: flex;
    margin-bottom: 10px;
  }
  &__icon {
    fill: $color-title-main;
    margin-right: 28px;
  }
  &__title {
    color: $color-title-main;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 1.222;
  }

  &__text {
    margin-left: 52px;
    font-family: $ff-main;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.571;

    color: $color-text-main;
  }
}
