.feedback {
  padding-top: 200px;
  padding-bottom: 139px;
  &__bgi {
    max-width: 2030px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    background-image: url(../images/bgi/meteorite-6.svg);
    background-position: center;
  }

  &__thumb {
    width: 940px;
    height: 324px;
    background-color: rgba(60, 62, 125, 0.19);
    backdrop-filter: blur(134px);
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  &__title {
    font-family: $ff-button;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.194;
    margin-bottom: 20px;
  }
  &__text {
    font-family: $ff-main;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.429;
    letter-spacing: 0.2px;
    color: $color-text-main;
  }
}
