.monitoring__list {
  position: absolute;
  top: 20px;
  right: -104px;
  display: flex;
  flex-wrap: wrap;
  padding: 21px 21px 18px 26px;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  background-color: $color-light-main;
  width: 805px;
  margin: -8px -13px;
}

.monitoring__item {
  width: 240px;
  margin: 4px 6px;
}

.monitoring__link {
  display: block;
}
