.container {
  width: 1120px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;

  .bgi-color & {
    position: relative;
  }

  .header & {
    @include flexCenter($jc: space-between);
  }
}
