.logo {
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 44px;

  @include flexCenter();
  background-color: $color-accent;
  color: $color-light-main;
  border-radius: 50%;

  &__icon {
    fill: currentColor;
  }
}
