.logo {
  display: block;
  margin-right: 82px;
}
.logo__list {
  @include flexCenter();
}

.logo__item {
  line-height: 0;
}

.logo__image {
  margin-right: 13px;
  fill: $color-accent;
}

.logo__text {
  fill: $color-light-main;
}
