.property {
  @include flexCenter();

  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  &__link {
    font-family: $ff-title;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.429;
    letter-spacing: 0.2px;
    color: $color-link-footer;
  }
}
