//* ---main colors---*//

$color-text-main: #8794ba;
$color-title-main: #172755;
$color-accent: #ef2a82;
$color-light-main: #ffffff;
$color-dark-team: #0f1f4b;
$color-border: #465b95;

//* ---colors header---*//

//* ---colors logo---*//

//* ---colors hero---*//

//* ---colors we-doing---*//

//* ---colors team---*//

//* ---colors footer---*//

//* ---colors-portfolio---*//

//*---fonts---*//
$font-family-main: Roboto, sans-serif;

//*---time---*//
/* $timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
$time-main: 250ms; */
