//* ---main colors---*//

$color-text-main: #8476aa;
$color-title-main: #99efd0;
$color-accent: #f2994a;
$color-light-main: #ffffff;
$color-navigation: #b5b5b5;
$color-background: #0f1145;
$color-link-footer: #8d8d8d;
$color-plea: #6d6d78;

//* ---colors header---*//

//* ---colors logo---*//

//* ---colors hero---*//

//* ---colors we-doing---*//

//* ---colors team---*//

//* ---colors footer---*//

//* ---colors-portfolio---*//

//*---fonts---*//
$ff-main: 'Gilroy-Medium', sans-serif;
$ff-title: Inter, sans-serif;
$ff-button: Rubik, sans-serif;

//*---time---*//
/* $timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);
$time-main: 250ms; */
