.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-help {
  width: 1.111328125em;
}

.icon-head-card {
  width: 1.060546875em;
}

.icon-chart {
  width: 0.9609375em;
}

.icon-technologic-1 {
  width: 4.5380859375em;
}

.icon-technologic-2 {
  width: 4.5380859375em;
}

.icon-technologic-3 {
  width: 3.5771484375em;
}

.icon-technologic-4 {
  width: 4.0771484375em;
}

.icon-technologic-5 {
  width: 2.154296875em;
}

.icon-technologic-6 {
  width: 4.5380859375em;
}
